<html>

<head>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            background-color: white;
            padding: 20px;
        }

        .logo {
            width: 200px;
            display: block;
            margin: 0 auto;
        }

        h3 {
            color: #333333;
            text-align: center;
        }

        p {
            color: #666666;
            line-height: 1.5;
        }

        .button {
            display: block;
            width: 200px;
            height: 40px;
            margin: 20px auto;
            background-color: #00cc00;
            border: none;
            border-radius: 5px;
            color: white;
            font-size: 16px;
            cursor: pointer;
        }

        .link {
            color: #0099ff;
            text-decoration: none;
        }
    </style>
</head>

<body>
    <div class="container"> <img src="https://ik.imagekit.io/tjiw3sd2q/logo.jpg?updatedAt=1691230375676" alt="Logo" class="logo">
        <h3>Xin chào, {{name}},</h3>
        <p>Bạn vừa yêu cầu được đổi mật khẩu</p>
        <p>Nếu thật là vậy, xin mời bạn nhấn vào liên kết sau:</p>
        <p class="link">{{link}}</p>
        <p>Nếu bạn không yêu cầu đổi mật khẩu, vui lòng bỏ qua email này.</p>
        <p>Nếu bạn có bất kỳ câu hỏi hoặc vấn đề gì, vui lòng liên hệ với chúng tôi qua mail này
        <a href="mailto:{{support-email}}" class="link">{{support-email}}</a>.</p>
        <p>Trân trọng, Đội ngũ {{site-name}}<p/>
    </div>
</body>

</html>