<html>
<head>
    <style></style>
</head>
<body>
    <h1>Xin chào {{user-name}}</h1>,
    <p>Cảm ơn bạn đã đăng ký với {{site-name}}. Chúng tôi rất vui khi bạn là một thành viên của cộng đồng của chúng tôi.</p>
    <p>Để hoàn tất việc đăng ký, vui lòng xác minh địa chỉ email của bạn bằng cách nhập mã xác nhận dưới đây trên trang web của
chúng tôi.</p>
    <p>Mã xác nhận của bạn là: {{confirm-number}}</p>
    <p>Mã này sẽ hết hạn trong 24 giờ, vì vậy vui lòng xác minh tài khoản của bạn càng sớm càng tốt.</p>
    <p>Nếu bạn có bất kỳ câu hỏi hoặc vấn đề gì, vui lòng liên hệ với chúng tôi qua {{support-email}}.</p>
    <p>Trân trọng, Đội ngũ {{site-name}}<p/>
</body>
</html>